# Ignore raw data files (the data_loader.py fetches them anyway)
data/
*.csv

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment variables
.env